.footer {
    flex-shrink: 0;
    height: 615px;
    background: url('../../assets/svg/footer-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 120px 37px 120px;
    position: relative;
    overflow: hidden;
    transition: height 1s ease;

    &.--open {
        height: 1472px;
    }

    &.--light {
        background: #f5f5f5;
    }

    &__text {
        position: relative;
        z-index: 2;

        &__subtitle {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 40px;
            line-height: 140%;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
        }

        &__title {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 80px;
            line-height: 140%;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0 0 45px 0;
        }

        &__subtitle,
        &__title {
            transition: color 0.5s ease;
        }

        &.--blue &__subtitle,
        &.--blue &__title {
            color: #398bf5;
        }

        &.--blue &__title {
            margin: 0 0 24px 0;
        }
    }

    &__info {
        &__controls-navigation {
            display: flex;
            justify-content: space-between;

            &__button {
                width: 288px;
                height: 72px;
                background: #ffffff;
                border: none;
                cursor: pointer;

                &__text {
                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 110%;
                    text-transform: uppercase;
                    background: linear-gradient(349deg, #398bf5 0%, #45b7f4 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &__navigation {
                display: flex;
                justify-content: space-between;
                padding: 26px 57px 55px 57px;
                flex-shrink: 0;
                flex-grow: 1;
                max-width: 751px;
            }
        }

        &__contacts-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            &__item {
                border-top: 1px solid #ffffff;
                border-right: 1px solid #ffffff;

                &:last-child {
                    border-right: none;
                }

                &.--copyright {
                    padding: 21px 21px 0 72px;
                    flex-shrink: 0;
                    flex-grow: 1;
                }

                &.--phone {
                    padding: 21px 52px 23px 52px;
                }

                &.--address {
                    padding: 21px 62px 23px 67px;
                }

                &.--email {
                    padding: 21px 21px 23px 21px;
                    flex-shrink: 0;
                    flex-grow: 1;
                    text-align: center;
                }

                &__text {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    color: #ffffff;

                    &.--gray {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    &__form {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        display: none;
        opacity: 0;

        &.--relative {
            position: relative;
            top: auto;
            left: auto;
            opacity: 1;
            max-width: 1073px;
            margin: 0 auto 0 264px;
        }

        &__element {
            opacity: 0;
        }

        &__paragraph {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #495160;
            margin-bottom: 56px;
        }

        &__row {
            display: flex;
            margin: 0 -32px 24px -32px;

            &>* {
                flex-shrink: 0;
                flex-grow: 1;
                margin: 0 32px;
            }
        }

        &__submit-button {
            padding: 28px 120px 29px 120px;
            width: 100%;
            height: 72px;
            background: radial-gradient(59.86% 345.83% at 94.35% 142.36%, rgb(57, 139, 245) 0%, rgb(69, 183, 244) 100%);
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 110%;
            text-transform: uppercase;
            text-align: center;
            color: #ffffff;
            border: none;
            cursor: pointer;
        }
    }

    &__go-back {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        background: linear-gradient(349deg, #398bf5 0%, #45b7f4 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 110px;
        left: 120px;
        opacity: 0;

        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 0;
            background: linear-gradient(349deg, #398bf5 0%, #45b7f4 100%);
            transition: width 0.5s ease;
        }

        &.--stroke::after {
            width: 100%;
        }

        &.--animate {
            background: linear-gradient(225deg, #398bf5 0%, #cde8ff var(--go-back-gradient-position), #45b7f4 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}