<footer id="footer" class="footer" #footer>
    <div class="footer__text" #footerText>
        <h2 class="footer__text__subtitle">
            Let's build
        </h2>
        <h1 class="footer__text__title">
            Future together
        </h1>
    </div>
    <div class="footer__info" #footerInfo>
        <div class="footer__info__controls-navigation">
            <button class="footer__info__controls-navigation__button" (click)="handleOpenForm()">
                <span class="footer__info__controls-navigation__button__text">
                    Contact us
                </span>
            </button>
            <nav class="footer__info__controls-navigation__navigation">
                @for (linksList of menuLinks; track linksList) {
                <app-links-list [title]=linksList.title [linksList]=linksList.links />
                }
            </nav>
        </div>
        <ul class="footer__info__contacts-list">
            <li class="footer__info__contacts-list__item --copyright">
                <span class="footer__info__contacts-list__item__text">
                    EZ Blockchain &copy; 2022 All Rights Reserved
                </span>
                <br />
                <span class="footer__info__contacts-list__item__text --gray">
                    Terms of service
                </span>
            </li>
            <li class="footer__info__contacts-list__item --phone">
                <span class="footer__info__contacts-list__item__text">
                    +1 (888) 890-15-16
                </span>
            </li>
            <li class="footer__info__contacts-list__item --address">
                <span class="footer__info__contacts-list__item__text">
                    311 S Wacker Drive, Suite 1410, Chicago, IL 60606
                </span>
            </li>
            <li class="footer__info__contacts-list__item --email">
                <span class="footer__info__contacts-list__item__text">
                    info&#64;ezblockchain.net
                </span>
            </li>
        </ul>
    </div>

    <div class="footer__form" #footerForm>
        <form action="#" method="POST" class="footer__form__element" #footerFormElement (ngSubmit)="handleFormSubmit()">
            <p class="footer__form__paragraph">
                EZ Blockchain believes that modern technologies and hard teamwork can significantly benefit energy
                businesses and reduce CO2 emissions.
                Let's talk about how we can do it together.
            </p>
            <app-form-input [(model)]="form.fullName" label="Get in touch with us" placeholder="Full name" [required]="true" class="display-block mb-24" />
            <div class="footer__form__row">
                <app-form-input [(model)]="form.companyName" placeholder="Company name" />
                <app-form-input [(model)]="form.phoneNumber" placeholder="Phone number" />
            </div>
            <app-form-input [(model)]="form.email" placeholder="Email" [required]="true" class="display-block mb-24" />
            <app-form-select [(model)]="form.requestType" [options]="formOptions" label="Type of request" placeholder="Choose type of request" class="display-block mb-48" />
            <app-form-textarea [(model)]="form.projectDescription" label="Tell us about the project" placeholder="Short description of the project" class="display-block mb-48" />
            <app-form-file-input [(model)]="form.attachments" label="Attachments" class="display-block mb-48"  />
            <button type="submit" class="footer__form__submit-button">
                Send
            </button>
        </form>
    </div>
    <a href="javascript:void(0)" class="footer__go-back" (click)="handleCloseForm()" #footerFormCloseLink>Go back</a>
</footer>