.form-input {
    width: 100%;

    &__label {
        display: block;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 170%;
        letter-spacing: 0.01em;
        padding-left: 32px;
        margin-bottom: 16px;
        color: #398bf5;
    }

    &__field {
        width: 100%;
        height: 72px;
        border: 1px solid #dddfe1;
        padding: 25px 32px;
        background-color: #f5f5f5;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #495160;

        &.--error {
            border-color: #eb5757;
        }
    }
}