<div class="form-input">
    @if (label) {
        <label for="{{ id }}" class="form-input__label">
            {{ label }}
        </label>
    }
    <input
        [(ngModel)]="model"
        (ngModelChange)="modelChange.emit($event)"
        #field="ngModel"
        id="{{ id }}"
        type="text"
        placeholder="{{ placeholder }}"
        class="form-input__field"
        [class]="{ '--error': field.invalid && (field.dirty || field.touched) }"
        required="{{ required }}"
    >
</div>
