<div class="form-textarea">
    @if (label) {
        <label for="{{ id }}" class="form-textarea__label">
            {{ label }}
        </label>
    }
    <textarea
        [(ngModel)]="model"
        (ngModelChange)="modelChange.emit($event)"
        id="{{ id }}"
        type="text"
        placeholder="{{ placeholder }}"
        class="form-textarea__field"
    ></textarea>
</div>
