@use "_variables";

:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  max-width: 1920px;
  margin: 0 auto;
  padding: 16px;
}

.display-block {
  display: block;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}