<main class="main">
  <div class="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ut officia ratione ipsum consequatur reprehenderit dolor? Quae magnam eveniet quas perspiciatis, reprehenderit optio pariatur facilis minus nobis ipsum nesciunt labore.
  </div>
</main>
<app-footer />