<h3 class="navigation__title">
    {{ title }}
</h3>
<div class="navigation__menu">
    @for (links of linksList; track links) {
    <ul class="navigation__menu__list">
        @for (link of links; track link) {
        <li class="navigation__menu__list__item">
            <a href="{{ link.href }}" class="navigation__menu__list__item__link">
                {{ link.text }}
            </a>
        </li>
        }
    </ul>
    }
</div>