.navigation {
    display: flex;
    justify-content: space-between;
    padding: 26px 57px 55px 57px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 751px;

    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #ffffff;
        margin: 0 0 16px 0;
    }

    &__menu {
        display: flex;

        &__list {
            list-style: none;
            margin: 0 47px 0 0;
            padding: 0;

            &:last-child {
                margin: 0;
            }

            &__item {

                &__link {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #ffffff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}