@font-face {
    font-family: 'Monument Extended';
    src: url('PPMonumentExtended-Regular.eot');
    src: url('PPMonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-Regular.woff2') format('woff2'),
        url('PPMonumentExtended-Regular.woff') format('woff'),
        url('PPMonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('PPMonumentExtended-BlackItalic.eot');
    src: url('PPMonumentExtended-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-BlackItalic.woff2') format('woff2'),
        url('PPMonumentExtended-BlackItalic.woff') format('woff'),
        url('PPMonumentExtended-BlackItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('PPMonumentExtended-Black.eot');
    src: url('PPMonumentExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-Black.woff2') format('woff2'),
        url('PPMonumentExtended-Black.woff') format('woff'),
        url('PPMonumentExtended-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('PPMonumentExtended-RegularItalic.eot');
    src: url('PPMonumentExtended-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-RegularItalic.woff2') format('woff2'),
        url('PPMonumentExtended-RegularItalic.woff') format('woff'),
        url('PPMonumentExtended-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('PPMonumentExtended-Light.eot');
    src: url('PPMonumentExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-Light.woff2') format('woff2'),
        url('PPMonumentExtended-Light.woff') format('woff'),
        url('PPMonumentExtended-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('PPMonumentExtended-LightItalic.eot');
    src: url('PPMonumentExtended-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-LightItalic.woff2') format('woff2'),
        url('PPMonumentExtended-LightItalic.woff') format('woff'),
        url('PPMonumentExtended-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

