.form-file-input {
    display: flex;
    align-items: center;
    width: 100%;

    &__label {
        flex-shrink: 0;
        display: block;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 170%;
        letter-spacing: 0.01em;
        padding-left: 32px;
        margin: 0 64px 0 0;
        color: #398bf5;
    }

    &__field-wrapper {
        position: relative;
        width: 100%;
        height: 72px;
        border: 1px dashed #8d97ac;
        background-color: #f5f5f5;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #495160;

        &__text {
            position: absolute;
            top: 25px;
            left: 32px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #495160;
            cursor: pointer;

            & > .--blue {
                color: #398bf5;
            }
        }

        &__field {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 2;
        }
    }
}