<div class="form-file-input">
    @if (label) {
    <label for="{{ id }}" class="form-file-input__label">
        {{ label }}
    </label>
    }
    <div class="form-file-input__field-wrapper">
        <span class="form-file-input__field-wrapper__text">
            <span class="--blue">Browse Files</span> or drag & drop files here
        </span>

        <input (change)="handleFileChange($event)" id="{{ id }}" type="file"
            class="form-file-input__field-wrapper__field" required="{{ required }}" multiple="{{ multiple }}">
    </div>
</div>