<div class="form-select">
    @if (label) {
        <label for="{{ id }}" class="form-select__label">
            {{ label }}
        </label>
    }

    <div class="form-select__selected" [class]="{ '--isOpen': isOpen }" (click)="toggleOpen()" #formSelect>
        <span class="form-select__selected__text">
            @if (selectedOption) {
                {{ selectedOption.text }}
            }
            @else if (placeholder) {
                {{ placeholder }}
            }
        </span>

        <ul id="{{ id }}" class="form-select__selected__list" [class]="{ '--isOpen': isOpen }">
            @for (option of options; track option) {
                <li (click)="handleSelectOption(option)" class="form-select__selected__list__item">
                    {{ option.text }}
                </li>
            }
        </ul>
    </div>
</div>