.form-select {
    display: flex;
    align-items: center;
    width: 100%;

    &__label {
        display: block;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 170%;
        letter-spacing: 0.01em;
        padding-left: 32px;
        margin: 0 64px 0 0;
        color: #398bf5;
        flex-shrink: 0;
    }

    &__selected {
        position: relative;
        flex-shrink: 0;
        flex-grow: 1;
        height: 72px;
        border: 1px solid #dddfe1;
        background-color: #f5f5f5;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #495160;
        padding-top: 72px;
        background: transparent;
        cursor: pointer;
        transition: height 0.5s ease;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 28px;
            left: calc(100% - 32px);
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512.02 319.26'><path d='M5.9 48.96 48.97 5.89c7.86-7.86 20.73-7.84 28.56 0l178.48 178.48L434.5 5.89c7.86-7.86 20.74-7.82 28.56 0l43.07 43.07c7.83 7.84 7.83 20.72 0 28.56l-192.41 192.4-.36.37-43.07 43.07c-7.83 7.82-20.7 7.86-28.56 0l-43.07-43.07-.36-.37L5.9 77.52c-7.87-7.86-7.87-20.7 0-28.56z'/></svg>");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: transform 0.5s ease;
        }
        
        &.--isOpen {
            border: 1px solid #000000;
            height: 200px;
            overflow-y: auto;
        }

        &.--isOpen::after {
            transform: rotate(180deg);
        }

        &__text {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid #dddfe1;
            height: 72px;
            padding: 25px 32px;
        }

        &__list {
            list-style: none;
            margin: 0;
            padding: 16px 0 0 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;
            overflow-y: auto;

            &.--isOpen {
                opacity: 1;
                visibility: visible;
            }

            &__item {
                padding: 16px 32px;

                &:hover {
                    color: #000000;
                }
            }
        }
    }
}